div{
    margin-top: 33.5%;
}
.result
{    width:1274px;
    background-color: white;
    /*margin-top:33.5%;*/
    border-top: 2px solid gainsboro;
    border-left: none;
    outline:none;
}
.buttons
{
    width:203px;
    height:30px;
    outline: none;
    
    }
    .buttons:focus { outline: none; }

.equal
{
    width: 412px;
    height:30px;

}


 