body{
    height: 100%;
}
.result
{    width:1274px;
    background-color: white;
    /*margin-top:33.5%;*/
    border-top: 2px solid gainsboro;
    border-left: none;
    outline:none;
}
.buttons
{
    width:203px;
    height:30px;
    outline: none;
    
    }
    .buttons:focus { outline: none; }

.equal
{
    width: 412px;
    height:30px;

}
.division
{ display: flex;
    flex-direction: column-reverse;
    height: 600px;
    
    
}
.division>div{
    border-top:1px solid #d3d0cd;

    
    flex-direction: column-reverse;
    padding:5px;
    

}
 .divider{
    border-top:1px solid #d3d0cd;
     display: flex;
     flex-direction:column;
     
 }